
.error {
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height:100vh ;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 12em;
    margin:0;
    line-height:1;
}

p {
    font-size: 2em;
    margin-top: 20px 0;
    color:#fff;
    text-align: center;
}

button {
    background-color: #f0b746;
    padding:1em;
    width:20em;
    border-radius: 5em;
    border:none;
}

a {
    text-decoration: none;
    color:#000;
}