<div class="background">
    <div class="login-card">

<div class="logo" ><img src="/images/mcrb.png" alt="MCRB Logo"></div>
<hr>
<h1>Welcome to MCRB-DVT Portal</h1>
<p style="text-align: justify;">An Easy way for your institution to submit data to Metropol CRB.
    Please don't hesitate to contact us if need be at data@metropol.co.ke if you have questions or suggestions. We love them both equally!
    </p>
    
<form [formGroup]="loginForm" (ngSubmit)="signin()">
<input  class="inpt" type="email" placeholder="Enter email" formControlName="email" >
<span style="color:red;" *ngIf="email?.hasError('required')">* Required</span>
<span style="color:red;" *ngIf="email?.invalid && (email?.dirty || email?.touched)">Please enter a valid Email</span>
<br>
<input class="inpt" type="password" placeholder="Password" formControlName ='password'>
<span style="color:red;" *ngIf="password?.hasError('required')">* Required</span>
<span style="color:red;" *ngIf="password?.invalid && (password?.dirty || password?.touched)">Enter the Correct Password</span>
<br>
<p style="text-align: right;"><a routerLink="/forgot-password" style="cursor:pointer; color:white; text-decoration:none;">Forgot password </a><img style="width:15px;" src="/images/qmark.png"></p>
<button class="btn" style="justify-content:center;" >Sign in</button>
</form>

</div>
</div>

